@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


* {
    font-size: 10px;
    box-sizing: border-box;
    font-family: Barlow Semi Condensed, sans-serif;
    margin: 0;
    padding: 0;
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);

    --Scissors-Gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --Paper-Gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --Rock-Gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --Lizard-Gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

}

body{
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}

/* Header */

.placar{
    display: flex;
    margin: 0 auto;
    border: .5rem;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 3rem;
    padding: 5px 15px;
    border: 3px solid var(--Header-Outline);
    border-radius: 5px;
}

.placar img{
   width: 30%;
}

.score__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    padding: .5rem 2rem ;
}

.score--title{    
    color: var(--Score-Text);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.score--value{
    color: var(--Dark-Text);
    font-size: 4rem;
    font-weight: 700;
    margin-top: -.6rem;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10rem;
    width: 100%;
}

.upper-icons {
    display: flex;
    grid-column: span 3;
    justify-content: space-evenly;
}

.background-game{
    display: flex;
    justify-content: center;    
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.background-game img {
    max-width: 10rem;
}

.icon-container{
    margin-top: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.icon-container img {
    height: 20px;
    width: 20px;
}


.paper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    border: solid .7rem hsl(230, 89%, 65%);
    box-shadow:0 2px inset #ccc, 0 2px hsl(230, 89%, 62%);
}

.rock {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    border: solid .7rem hsl(349, 70%, 56%);
    box-shadow:0 2px inset #ccc, 0 2px hsl(349, 71%, 52%);
}

.scissor {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    border: solid .7rem hsl(40, 84%, 53%);
    box-shadow:0 2px inset #ccc, 0 2px hsl(39, 89%, 49%);
}

.icon-container img:hover {
    cursor: pointer;
}

.rules-modal {
    display: none;
    height: 100%;
}

/* Footer */

.rules{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules-modal {
    width: 100%;
    height: 100%;
}

.rules-modal picture {
    height: 100%;
    width: 100%;
}

.rules-button{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: .5rem 1.7rem;
    border-radius: 5px;
}